{% extends 'base.html.twig' %}

{% block body %}
    <body onload="drawmap();">

        <div id="header">
            <div id="content">Karte (Testversion)</div>
            <div id="osm">© <a href="http://www.openstreetmap.org">OpenStreetMap</a>,
                <a href="http://creativecommons.org/licenses/by-sa/2.0/deed.de">CC-BY-SA</a>
            </div>
        </div>
        <div id="map">
        </div>

    </body>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="css/map.css"></link>
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="css/ie_map.css"></link>
    <![endif]-->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="http://www.openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
    <script type="text/javascript" src="js/map.js"></script>

    <script type="text/javascript">
        //<![CDATA[

        var map;
        var layer_mapnik;
        var layer_tah;
        var layer_markers;

        function drawmap() {
            // Popup und Popuptext mit evtl. Grafik
            var popuptext="<p style='color: black; '>TEST</p>";

            OpenLayers.Lang.setCode('de');

            // Position und Zoomstufe der Karte
            var lon = 11.9692986;
            var lat = 51.4825232;
            var zoom = 14;

            map = new OpenLayers.Map('map', {
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326"),
                controls: [
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.LayerSwitcher(),
                    new OpenLayers.Control.PanZoomBar()],
                maxExtent:
                    new OpenLayers.Bounds(-20037508.34,-20037508.34,
                        20037508.34, 20037508.34),
                numZoomLevels: 18,
                maxResolution: 156543,
                units: 'meters'
            });

            layer_mapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
            layer_markers = new OpenLayers.Layer.Markers("Address", { projection: new OpenLayers.Projection("EPSG:4326"),
                visibility: true, displayInLayerSwitcher: false });

            map.addLayers([layer_mapnik, layer_markers]);
            jumpTo(lon, lat, zoom);

            // Position des Markers
            //addMarker(layer_markers, 6.641389, 49.756667, popuptext);

        }

        //]]>
    </script>
{% endblock %}
